
/* 
    Created on : 27-Sep-2016, 11:22:36
    Author     : Casper Björk
*/

.pushDown-10 {
    margin-top: 10px;
}

.pushDown-20 {
    margin-top: 20px;
}

/*
 Starter color : #7BB37B;
*/
.backgroundColor-1{
    background-color: #7BB37B;
}

.small-text-head{
    color: #337A33;
}

.backgroundColor-2{
    background-color: white;
}